<p id="notice"><%= notice %></p>

<h1>Divisas</h1>

<div class="box">
  <div class="box-body table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>TRM de compra</th>
          <th>TRM de venta</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @currencies.each do |currency| %>
          <tr>
            <td><%= currency.name %></td>
            <td><%= currency.default_buy_rate %></td>
            <td><%= currency.default_sale_rate %></td>
            <td><%= link_to 'Editar', edit_currency_path(currency) %></td>
            <td><%= link_to 'Eliminar', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nueva Divisa', new_currency_path %>
  </div>
</div>