<div class="box box-primary box-form-content">
  <div class="box-body">
    <%= form_with(model: user, local: true) do |form| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
      </div>

      <div class="field form-group">
        <%= form.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= form.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :password_confirmation %><br />
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>


      <div class="field form-group">
        <%= form.label :active %><br />
        <%= form.check_box :active, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :admin %><br />
        <%= form.check_box :admin, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= label_tag 'Cajeros Assignados' %><br />
        <%= select_tag 'user[cashier_ids]', options_from_collection_for_select(Cashier.all, :id, :place, user.cashiers.pluck(:id)),{multiple: true, size: 6, class: "form-control",id: 'select-cashier-user'} %>
      </div>

      <div class="actions submit-form">
        <%= form.submit "Sign up", {class: "btn btn-primary"} %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('document').ready(function(){
    $("#select-cashier-user").select2();
  })
</script>