<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<div class="box">
  <div class="box-body table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Correo</th>
          <th>Ultimo inicio de session</th>
          <th>Fecha Creacion</th>
          <th>Activo</th>
          <th>Administrador</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= user.created_at %></td>
            <td><span class="label <%= user.active ? "label-success" : "label-danger" %>"> <%= user.active ? "Activo" : "Desactivado" %></td>
            <td><span class="label <%= user.admin ? "label-primary" : "label-warning" %>"> <%= user.admin ? "Administrador" : "Empleado" %></td>
            <td><%= link_to 'Editar', edit_user_path(user) %></td>
            <td><%= link_to 'Desactivar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Usuario', new_user_path %>
  </div>
</div>
