<aside class="main-sidebar control-sidebar control-sidebar-dark">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">

      <% if can? :create, DailyMovement %>
        <li class="<%= 'active' if ( controller_name == 'daily_movements' && action_name == 'new' ) %>" >
          <%= link_to new_daily_movement_path do %>
            <i class="fa fa-link"></i> <span>Crear Movimiento del día</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :read, DailyMovement %>
        <li class="<%= 'active' if ( controller_name == 'daily_movements' && ['index', 'show'].include?(action_name) ) %>" >
          <%= link_to daily_movements_path do %>
            <i class="fa fa-link"></i> <span>Listar Movimientos del día</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :manage, GeneralExpense %>
        <li class="<%= 'active' if ( controller_name == 'general_expenses' && action_name == 'new' ) %>" >
          <%= link_to new_general_expense_path do %>
            <i class="fa fa-link"></i> <span>Gasto generales</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :manage, GeneralExpense %>
        <li class="<%= 'active' if ( controller_name == 'general_expenses' && ['index', 'show'].include?(action_name) ) %>" >
          <%= link_to general_expenses_path do %>
            <i class="fa fa-link"></i> <span>Listar Gastos generales</span>
          <% end %>
        </li>
      <% end %>
      
      <% if can? :manage, Currency %>
        <li class="<%= 'active' if controller_name == 'currencies' %>" >
          <%= link_to currencies_path do %>
            <i class="fa fa-link"></i> <span>Administrar monedas</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :manage, User %>
        <li class="<%= 'active' if controller_name == 'users' %>" >
          <%= link_to users_path do %>
            <i class="fa fa-link"></i> <span>Administrar usuarios</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :manage, Cashier %>
        <li class="<%= 'active' if controller_name == 'cashiers' %>" >
          <%= link_to cashiers_path do %>
            <i class="fa fa-link"></i> <span>Administrar cajas</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :manage, SignInComment %>
        <li class="<%= 'active' if controller_name == 'sign_in_comment' %>" >
          <%= link_to sign_in_comments_path do %>
            <i class="fa fa-link"></i> <span>Comentarios de inicio de session</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</aside>