<div class="field form-group">
  <div style="border: 5px solid orange; padding: 5px">
    <h4><%= f.object.currency.name %></h4>
    <%= f.label :value, "#{f.object.currency.name} valor" %>
    <%= f.number_field :value, {class: "form-control"} %>

    <%= f.label :default_buy_rate, "#{f.object.currency.name} TRM de compra default" %>
    <%= f.number_field :default_buy_rate, {class: "form-control"} %>

    <%= f.label :default_sale_rate, "#{f.object.currency.name} TRM de venta default" %>
    <%= f.number_field :default_sale_rate, {class: "form-control"} %>
  </div>
</div>