<p id="notice"><%= notice %></p>

<h1>Cajas</h1>

<div class="box">
  <div class="box-body table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Lugar</th>
          <th>Concepto</th>
          <th>Commentario</th>
          <th>Nombre</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @cashiers.each do |cashier| %>
          <tr>
            <td><%= cashier.place %></td>
            <td><%= cashier.concept %></td>
            <td><%= cashier.comment %></td>
            <td><%= cashier.name %></td>
            <td><%= link_to 'Editar', edit_cashier_path(cashier) %></td>
            <td><% link_to 'Eliminar', cashier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nueva Caja', new_cashier_path %>
  </div>
</div>
