<%= form_with(model: daily_movement, local: true) do |form| %>
  <% if daily_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_movement.errors.count, "error") %> prohibited this daily_movement from being saved:</h2>

      <ul>
      <% daily_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :currency_id, 'Divisa' %>
    <%= form.collection_select(:currency_id, Currency.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :action, 'Accion' %>
    <%= form.collection_select(:action, DailyMovement.actions.to_a, :second, :first) %>
  </div>

  <div class="field">
    <%= form.label :value_foreign %>
    <%= form.number_field :value_foreign %>
  </div>

  <div class="field">
    <%= form.label :value_colombia %>
    <%= form.number_field :value_colombia %>
  </div>

  <div class="field">
    <%= form.label :exchange_rate %>
    <%= form.number_field :exchange_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
