<div class="box box-primary box-form-content">
  <div class="box-info">
    <%= hidden_field_tag 'currency_info', @currency_info.to_json %>

    <div class="info">
      <label>Valor en Caja de divisa</label>
      <h4 class="currency-value-info"><%= @currency_info.select{ |ci| ci[:currency_id] == @default_currency.id }.first[:value] %></h4>
    </div>

    <div class="info">
      <label>Valor en Caja de Peso Colombiano</label>
      <h4 class="currency-value-info-colombia"><%= current_user.session.cashier.value_colombia %></h4>
    </div>

    <div class="info">
      <label>Promedio de TRM de compra</label>
      <h4 class="currency-value-info-trm"><%= @currency_info.select{ |ci| ci[:currency_id] == @default_currency.id }.first[:compra_trm] %></h4>
    </div>
  </div>
  <div class="box-body">
    <%= form_with(model: daily_movement, local: true) do |form| %>
      <% if daily_movement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(daily_movement.errors.count, "error") %> errores encontrados:</h2>

          <ul>
          <% daily_movement.errors.messages.each do |attribute, message| %>
            <li><%= message.join(', ') %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= form.label :currency_id, 'Divisa' %>
        <%= form.collection_select(:currency_id, Currency.all, :id, :name, { selected: @default_currency.id },{class: "form-control info-change"}) %>
      </div>

      <div class="field form-group">
        <%= form.label :action, 'Accion' %>
        <% selected_action = @daily_movement.errors.any? ? @daily_movement.action_before_type_cast : 1 %>
        <%= form.collection_select(:action, DailyMovement.actions.to_a, :second, :first, { selected: selected_action },{class: "form-control info-change"}) %>
      </div>

      <div class="field form-group">
        <%= form.label :value_foreign, 'Valor en divisa' %>
        <%= form.number_field :value_foreign, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :value_colombia, 'Valor en peso colombiano' %>
        <%= form.number_field :value_colombia, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :exchange_rate, 'Tasa de Cambio' %>
        <%= form.number_field :exchange_rate, class: "form-control", value: @currency_info.select{ |ci| ci[:currency_id] == @default_currency.id }.first[:default_sale_rate]  %>
      </div>

      <div class="actions submit-form">
        <%= form.submit "Ingresar Movimiento Diario", {class: "btn btn-primary"}%>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
$('document').ready(function(){
  $("form").keypress(function(e) {
    //Enter key
    if (e.which == 13) {
      return false;
    }
  });
  
  $('.info-change').change(function(){
    var info = getInfoSelectedCurrency();
    setCashierValue(info);
    setTRM(info);
    refreshValueColombiaDivisa();
    setCompraTRM(info);
  })

  $("#daily_movement_value_foreign").change(function(){
    $("#daily_movement_value_colombia").attr('readOnly','readOnly');

    setValueColombia();
  })

  $("#daily_movement_value_colombia").change(function(){
    $("#daily_movement_value_foreign").attr('readOnly','readOnly');

    setValueForeign();
  })

  $("#daily_movement_exchange_rate").change(function(){
    var attr = $("#daily_movement_value_colombia").attr("readOnly")
    if (typeof attr !== typeof undefined && attr !== false){
      setValueColombia();
    } else {
      setValueForeign();
    }
  })

  function setValueColombia(){
    var value_colombia = $("#daily_movement_value_foreign").val() * $("#daily_movement_exchange_rate").val()
    var value_colombia_new = roundBasedOnAction(value_colombia);
    $("#daily_movement_value_colombia").val(value_colombia_new)
  }

  function setValueForeign(){
    var value_divisa = $("#daily_movement_value_colombia").val() / $("#daily_movement_exchange_rate").val()
    var value_divisa_new = roundBasedOnAction(value_divisa);
    $("#daily_movement_value_foreign").val(value_divisa_new)
  }

  function refreshValueColombiaDivisa(){
    $("#daily_movement_value_foreign").removeAttr("readOnly")
    $("#daily_movement_value_colombia").removeAttr("readOnly")

    $("#daily_movement_value_foreign").val(0)
    $("#daily_movement_value_colombia").val(0)
  }

  function getInfoSelectedCurrency(){
    var selected_id = $('#daily_movement_currency_id :selected').val();
    var info_string = $('#currency_info').val();
    var info = JSON.parse(info_string)
    var selected_info = info.filter( function (obj){
      return (obj.currency_id + "") === (selected_id + "") 
    })
    
    return selected_info[0];
  }

  function setCashierValue(info){
    $(".currency-value-info").html(info.value);
  }

  function setTRM(info){
    var selected_action_id = $("#daily_movement_action :selected").val();
    var trm = 0;
    if ( selected_action_id === "0" ){
      trm = info.default_buy_rate
    } else {
      trm = info.default_sale_rate
    }

    $("#daily_movement_exchange_rate").val(trm);
  }

  function setCompraTRM(info){
    $(".currency-value-info-trm").html(info.compra_trm)
  }

  function roundBasedOnAction(value){
    var selected_action_id = $("#daily_movement_action :selected").val();
    if ( selected_action_id === "0" ){
      var new_value = Math.ceil(value);
    } else {
      var new_value = Math.floor(value);
    }

    return new_value;
  }
});
<% end %>