<p id="notice"><%= notice %></p>

<h1>Daily Movements</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Divisa</th>
      <th>Accion</th>
      <th>Valor Divisa</th>
      <th>Valor Peso Colombiano</th>
      <th>TRM</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_movements.each do |daily_movement| %>
      <tr>
        <td><%= daily_movement.user.email %></td>
        <td><%= daily_movement.currency.name %></td>
        <td><%= daily_movement.action %></td>
        <td><%= daily_movement.value_foreign %></td>
        <td><%= daily_movement.value_colombia %></td>
        <td><%= daily_movement.exchange_rate %></td>
        <td><%= link_to 'Mostrar', daily_movement %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Daily Movement', new_daily_movement_path %>