<p id="notice"><%= notice %></p>

<h1>Movimiento Diarios</h1>

<div class="box">
  <%= search_form_for @q do |f| %>
    <%= f.label :cashier_id_eq, 'Buscar en caja: ' %>
    <%= f.collection_select :cashier_id_eq, Cashier.all, :id, :place, include_blank: true %>

    <%= f.label :currency_id_eq, 'Divisa: ' %>
    <%= f.collection_select :currency_id_eq, Currency.all, :id, :name, include_blank: true %>
    <%= f.submit %>
  <% end %>
  <div class="box-body table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Caja</th>
          <th>Divisa</th>
          <th>Accion</th>
          <th>Valor Divisa</th>
          <th>Valor Peso Colombiano</th>
          <th>Fecha</th>
          <th>TRM</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @daily_movements.each do |daily_movement| %>
          <tr>
            <td><%= daily_movement.user.email %></td>
            <td><%= daily_movement.cashier.place %></td>
            <td><%= daily_movement.currency.name %></td>
            <td><span class="label <%= daily_movement.venta? ? "label-primary" : "label-warning" %>"><%= daily_movement.action %></span></td>
            <td><%= ActiveSupport::NumberHelper::number_to_delimited(daily_movement.value_foreign) %></td>
            <td><%= ActiveSupport::NumberHelper::number_to_delimited(daily_movement.value_colombia) %></td>
            <td><%= daily_movement.created_at %></td>
            <td><%= ActiveSupport::NumberHelper::number_to_delimited(daily_movement.exchange_rate) %></td>
            <td><%= link_to 'Mostrar', daily_movement %></td>
          </tr>
        <% end %>
        <%= will_paginate @daily_movements, previous_label: 'Anterior', next_label: 'Siguiente' %>
      </tbody>
    </table>
  </div>
</div>



<br>

<%#= link_to 'New Daily Movement', new_daily_movement_path %>