<p id="notice"><%= notice %></p>

<h1>Daily Movements</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Currency</th>
      <th>Action</th>
      <th>Value foreign</th>
      <th>Value colombia</th>
      <th>Exchange rate</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_movements.each do |daily_movement| %>
      <tr>
        <td><%= daily_movement.user.email %></td>
        <td><%= daily_movement.currency.name %></td>
        <td><%= daily_movement.action %></td>
        <td><%= daily_movement.value_foreign %></td>
        <td><%= daily_movement.value_colombia %></td>
        <td><%= daily_movement.exchange_rate %></td>
        <td><%= link_to 'Show', daily_movement %></td>
        <td><%= link_to 'Destroy', daily_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Movement', new_daily_movement_path %>
