<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @daily_movement.user.email %>
</p>

<p>
  <strong>Divisa:</strong>
  <%= @daily_movement.currency.name %>
</p>

<p>
  <strong>Accion:</strong>
  <%= @daily_movement.action %>
</p>

<p>
  <strong>Valor divisa:</strong>
  <%= @daily_movement.value_foreign %>
</p>

<p>
  <strong>Valor colombia:</strong>
  <%= @daily_movement.value_colombia %>
</p>

<p>
  <strong>TRM:</strong>
  <%= @daily_movement.exchange_rate %>
</p>

<%= link_to 'Atras', new_daily_movement_path %>
