<!DOCTYPE html>
<html>
  <head>
    <title>Guantes de Oro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <% if current_user.session.nil? || (controller_name == 'sign_in_comments' && action_name == 'new') %>
        <%= yield %>
      <% else %>
        <%= render 'shared/static_header' %>
        <%= render 'shared/sidebar' %>
        <div class="content">
          <%= yield %>  
        </div>
      <% end %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
